{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cake!</h1>
      <p>With the most delicious cakes in town made in the most
      hygienic way because its tottaly homemade.With the food standards of that of a house but taste of you cant even imagine off</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Website made by</h2>
        <h5>Daipayan Hati</h5>
        <p>He  made this beautifull website.His innovativeness and his desire to explore with cakes is what makes the menu so diverse.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Main Cheif</h2>
        <h5>Sampa Hati</h5>
        <p>With the natural talent of making cakes she leads the role in the back end of making the cakes super tasty</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Main Man</h2>
        <p>Subhendu Hati</p>
        <p>Owns the most shares of the company and was his idea to invest time and in this buisness</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}